<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required Meta Tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- Title and readability tags -->
  <title>PA - Shop</title>
  <meta name="author" content="Nathan Blight">
  <meta name="description" content="Personal portfolio website used for college assignment - This is the shop page">
  <meta name="keywords" content="portfolio,personal,college,showcase">
  <!-- Bootstrap CSS followed by custom CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="stylesheet" href="css/stylesheet.css" type="text/css">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="https://checkout.stripe.com/checkout.js" defer></script>
  <script>
    var stripePublicKey = '<%= stripePublicKey %>'
  </script>
  <script type="text/javascript" src="js/shopScript.js" defer></script>
</head>

<body>
  <!-- Navigation bar -->
  <nav class="navbar navbar-expand-md sticky-top navbar-light navbar-theme">
    <div class="container-lg">
      <!-- Branding is the logo and name of the website -->
      <a class="navbar-brand" href="index">
        <div class="navbar-logo">
          <img src="assets/video/LogoAnimation.gif" alt="Paradox Anthology" name="Paradox Anthology logo">
        </div>
      </a>
      <!-- Button is viewed in navbar collapsed view when page size is reduced -->
      <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
        aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item display-7">
            <a class="nav-link" href="index">About Me</a>
          </li>
          <li class="nav-item display-7">
            <a class="nav-link" href="portfolio">My Work</a>
          </li>
          <li class="nav-item display-7">
            <a class="nav-link active" aria-current="shop" href="shop">Shop</a>
          </li>
          <li class="nav-item display-7 logout">
            <a class="nav-link logout" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </div> <!-- Close container for navbar-->
  </nav>

  <header class="page-header">
    <h1 class="display-4 px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center page-header-intro">Commisions & Merch</h1>
    <div class="page-header-info px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <p class="lead display-6">Purchase a commision piece from me. For support or queries please contact me before
        purchasing.
        Refunds are at personal discretion.</p>
    </div>
  </header>


  <main class="content container-xl">
    <h2 class="display-4 text-center pb-5">Commisions</h2>
    <div class="row row-cols-2 row-cols-md-3 mb-3 text-center products">
      <!-- The items.json file is used to manage items available in the store. It assigns values from an array database -->
      <!-- The code here is for styling and implements data from the above mentioned file -->
      <% items.commisions.forEach(function(item) { %>
      <div class="col">
        <!-- Change shop-item -->
        <div class="card mb-4 shadow-sm shop-item" data-item-id="<%= item.id %>">
          <div class="card-header">
            <!-- Change shop-item-title -->
            <h4 class="shop-item-title display-6">
              <%= item.name %>
            </h4>
          </div>
          <div class="card-body shop-hover-effect">
            <!-- Change shop-item-price -->
            <h1 class="card-title pricing-card-title shop-item-price display-4">&euro;<%= item.price / 100 %>
            </h1>
            <ul class="list-unstyled mt-3 mb-4 display-6">
              <li>
                <%= item.desc1 %>
              </li>
              <li>
                <%= item.desc2 %>
              </li>
              <li>
                <%= item.desc3 %>
              </li>
            </ul>
            <!-- Change shop-item-button -->
            <button type="submit" class="w-100 btn btn-lg btn-gold shop-item-button display-6">Add To Cart</button>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
    <h2 class="display-4 text-center pb-5">Merch</h2>
    <div class="row row-cols-2 row-cols-md-3 mb-3 text-center products">
      <% items.merch.forEach(function(item) { %>
      <div class="col">
        <!-- Change shop-item -->
        <div class="card mb-4 shadow-sm shop-item" data-item-id="<%= item.id %>">
          <div class="card-header">
            <!-- Change shop-item-title -->
            <h4 class=" shop-item-title display-6">
              <%= item.name %>
            </h4>
          </div>
          <div class="card-body shop-hover-effect">
            <!-- Change shop-item-price -->
            <h1 class="card-title pricing-card-title shop-item-price display-4">&euro;<%= item.price / 100 %>
            </h1>
            <ul class="list-unstyled mt-3 mb-4 display-6">
              <li>
                <%= item.desc1 %>
              </li>
              <li>
                <%= item.desc2 %>
              </li>
              <li>
                <%= item.desc3 %>
              </li>
            </ul>
            <!-- Change shop-item-button -->
            <button type="submit" class="w-100 btn btn-lg btn-gold shop-item-button display-6">Add To
              Cart</button>
          </div>
        </div>
      </div>
      <% }) %>
    </div>

    <h2 class="display-4 text-center pb-5">Cart</h2>
    <section class="shop-cart text-center card shadow-sm">
      <!-- <h2 class="section-header">CART</h2> -->
      <div class="cart-row row row-no-ml row-no-mr card-header">
        <h4 class="cart-item col-md-4 display-6">Item</h4>
        <h4 class="cart-price col-md-4 display-6">Price</h4>
        <h4 class="cart-quantity col-md-4 display-6">Quantity</h4>
      </div>
      <div class="card-body shop-hover-effect">
        <!-- Change cart-items. Items added to cart on page will go in here -->
        <div class="cart-items  display-6">
          <!-- To change how items will be styled: shopScripts.js -inside- function addItemToCart -->
        </div>
        <div class="cart-total row ">
          <p class="cart-total-title col-md-4 display-6">Total</p>
          <!-- Change cart-total-price -->
          <p class="cart-total-price col-md-4 display-6">€0.00</p>
        </div>
        <div class="row justify-content-md-center">
          <button class="col-md-4 btn btn-lg btn-purchase btn-gold display-6" type="button">Purchase</button>
        </div>
      </div>
    </section>
  </main>
  <!-- Used to clear floating elements from memory so elements after can size correctly -->
  <div style="clear: both;"></div>
  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    &#169; Paradox Anthology 2021
  </footer>
  <!-- Boostrap scripts followed by custom scripts-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script>$(document).ready(function () { $("h1").addClass("animated bounce"); });</script>
</body>

</html>